@charset "utf-8";
/* CSS Document */

p {
		font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif; font-size: 20px; margin-left: auto
	}
	
	.navelements li {
		
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif; font-size: 20px; padding: 10px;
		
		}
	
	h2 {
		font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif; font-size: 20px; padding-right: 10px;
		
	}

h3 {
		font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif; font-size: 20px; padding-right: 10px;
		
	}